.contact-us-map-parent {
    background-color: #f5f4ee;
    padding: 80px 0px 80px 0px;
  .contact-us-map-subparent {
    .container {
      .contact-us-main-map {
        .row {
          .col-md-12 {
            .main-map {
                width: 100%;
            }
          }
        }
      }
    }
  }
}
